<a href="https://colab.research.google.com/github/harshit447/c-projects/blob/master/Real_estate_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as py 
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams['figure.figsize']=(20,10)

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [ ]:
from io import StringIO
decoded_data = uploaded.get("Bengaluru_House_Data.csv").decode()
data=pd.read_csv(StringIO(decoded_data))

In [ ]:
df1= pd.read_csv("Bengaluru_House_Data.csv")
df1.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [ ]:
df1.shape

(13320, 9)

In [ ]:
df1.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [ ]:
df2=df1.drop(['area_type','availability','balcony','society'],axis='columns')
df2.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

#data cleaning

In [ ]:
df2.shape

(13320, 5)

In [ ]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [ ]:
df3=df2.dropna()

In [ ]:
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [ ]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [ ]:
df3['BHK']=df3['size'].apply(lambda x : int(x.split(' ')[0]))
#df3['bhk'].unique()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df3.head()

                   location       size total_sqft  bath   price  BHK
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [ ]:
df3['BHk']=df3['size'].apply(lambda x : int(x.split(' ')[0]))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df3.head()

                   location       size total_sqft  bath   price  BHK  BHk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2    2

In [ ]:
#df3['bhk'].unique()

In [ ]:
#df3[df3.bhk>20]

#checking total square ft column

In [ ]:
df3['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

#removing range values to average

In [ ]:
def is_float(x):
  try:
    float(x)
  except:
    return False
  return True

In [ ]:
df3[~df3['total_sqft'].apply(is_float)]

                 location   size   total_sqft  bath    price  BHK  BHk
30              Yelahanka  4 BHK  2100 - 2850   4.0  186.000    4    4
122                Hebbal  4 BHK  3067 - 8156   4.0  477.000    4    4
137    8th Phase JP Nagar  2 BHK  1042 - 1105   2.0   54.005    2    2
165              Sarjapur  2 BHK  1145 - 1340   2.0   43.490    2    2
188              KR Puram  2 BHK  1015 - 1540   2.0   56.800    2    2
...                   ...    ...          ...   ...      ...  ...  ...
12975          Whitefield  2 BHK   850 - 1060   2.0   38.190    2    2
12990      Talaghattapura  3 BHK  1804 - 2273   3.0  122.000    3    3
13059              Harlur  2 BHK  1200 - 1470   2.0   72.760    2    2
13265               Hoodi  2 BHK  1133 - 1384   2.0   59.135    2    2
13299          Whitefield  4 BHK  2830 - 2882   5.0  154.500    4    4

[190 rows x 7 columns]

In [ ]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [ ]:
df4 = df3.copy()
df4.total_sqft = df4.total_sqft.apply(convert_sqft_to_num)
df4 = df4[df4.total_sqft.notnull()]
df4.head(2)

                   location       size  total_sqft  bath   price  BHK  BHk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4    4

In [ ]:
df5 = df4.copy()
df5['price_per_sqft'] = df5['price']*100000/df5['total_sqft']
df5.head()

                   location       size  total_sqft  ...  BHK  BHk  price_per_sqft
0  Electronic City Phase II      2 BHK      1056.0  ...    2    2     3699.810606
1          Chikka Tirupathi  4 Bedroom      2600.0  ...    4    4     4615.384615
2               Uttarahalli      3 BHK      1440.0  ...    3    3     4305.555556
3        Lingadheeranahalli      3 BHK      1521.0  ...    3    3     6245.890861
4                  Kothanur      2 BHK      1200.0  ...    2    2     4250.000000

[5 rows x 8 columns]

In [ ]:
df5['location'].unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)